<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>MiH+AzfHAkrEkZl8hy8DcSwrJN0DXEUSkSW245v+WZ4Lkm9GAvRaIeyISn2pCK+hqMb2b2WxyOiCJjSlxeTW4IhIPCRxwCb1utPf0Z7XWfI4+O+4u0KhtwU4hULwCMWxu9icLRNFJ9myTzm05pYZlVW59NSLB+9DX9VXuR9PSTE=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>vSZAsChtUZzicddyMJXHIQHBB2xPxtgDfEqqViM9JZ8=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>